/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 16px 20px;
    cursor: pointer;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.nav-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 30px;
}

/* banner section start from here */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: #727272;
    margin-bottom: 20px;
}

.banner img {
    margin-top: 40px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1000px;
    margin: 40px auto;
}

.teams-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.teams-img-container img {
    width: 15rem;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.temas-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.team-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description{
   margin-bottom: 15px;
   color: #727272;
}

/* responsive media qeary */
/* for mobile devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        padding-bottom: 75px;
    }


    nav ul {
        gap: 30px;
    }

    nav li {
        margin: 0px;
    }
    
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content{
        margin-top: 24px;
    }
}

/* for tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        gap: 30px;
    }

    nav li {
        margin: 0px;
    }
}